@using Pbt.Individual
 
<div class="fixed-contact">
    <footer class="main-footer ">
        <div class="text-center py-2">
            <h5 class="fw-bold text-uppercase text-danger fs-5 text-strong">
                <b> Hotline Zalo: <a href="https://zalo.me/0566268999" class="text-decoration-none text-danger"
                                         target="_blank">0566.268.999</a> | <a href="tel:0566.268.999"
                                                                      class="text-decoration-none text-danger">0566.268.999</a></b>
                </h5>
            </div>
        </footer>
