@model Pbt.Individual.Web.Views.Shared.Components.RightNavbarUserArea.RightNavbarUserAreaViewModel
<li class="nav-item dropdown nav-user-menu">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img class="user-image img-circle elevation-2" src="~/img/avatar.png" alt="User Image">
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-controller="Users" asp-action="ChangePassword">
            <i class="fas fa-lock"></i> @L("UpdatePassword")
        </a>
          <a class="dropdown-item" asp-controller="Users" asp-action="UpdateInformation">
            <i class="fas fa-info-circle"></i> @L("UpdateInformation")
        </a>
        <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
            <i class="fas fa-sign-out-alt"></i> @L("Logout")
        </a>
    </div>
</li>